#### Imports

In [195]:
import pandas as pd # type: ignore
from countryinfo import CountryInfo # type: ignore

#### Code

In [250]:
vinhos = pd.read_csv("files/ExpVinho.csv",encoding='utf-8',sep=";")
paises = pd.read_csv("files/DE_PARA_CONTINENTES.txt",encoding='utf-8',sep=";")

In [251]:
vinhos = vinhos.drop(['Id'],axis=1)
vinhos

,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,1974,...,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1
0,Afeganistão,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,11,46,0,0
1,África do Sul,0,0,0,0,0,0,0,0,0,...,0,0,26,95,4,21,0,0,0,0
2,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,0,...,10794,45382,3660,25467,6261,32605,2698,6741,7630,45367
3,Angola,0,0,0,0,0,0,0,0,0,...,477,709,345,1065,0,0,0,0,4068,4761
4,Anguilla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Tuvalu,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,4,0,0,0,0
124,Uruguai,0,0,0,0,0,0,0,0,0,...,7711,29617,6180,18497,0,0,136774,149842,637117,997367
125,Vanuatu,0,0,0,0,0,0,0,0,0,...,0,0,0,0,18,31,0,0,0,0
126,Venezuela,0,0,3200,2000,1350,750,11700,6458,9830,...,71,355,0,0,4086,9808,26415,35944,23220,32351
127,Vietnã,0,0,0,0,0,0,0,0,0,...,0,0,20,32,86,584,0,0,130,277

In [248]:
# dados = pd.merge(vinhos,paises,left_on='País',right_on='País', how='left')
# dados

In [276]:
colunas_pares = [col for col in vinhos.columns if '.1' in col]
colunas_impares = [col for col in vinhos.columns if '.1' not in col]

# we're gonna get the last 15 years to analyse
colunas_pares = colunas_pares[-15:] 
colunas_impares = colunas_impares[-15:]

colunas_pares.insert(0,'País')
colunas_impares.insert(0,'País')

qtde_dolares = vinhos[colunas_pares]
qtde_litros = vinhos[colunas_impares]

In [278]:
qtde_dolares

,País,2008.1,2009.1,2010.1,2011.1,2012.1,2013.1,2014.1,2015.1,2016.1,2017.1,2018.1,2019.1,2020.1,2021.1,2022.1
0,Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,46,0
1,África do Sul,0,0,0,0,0,0,0,0,0,0,0,95,21,0,0
2,"Alemanha, República Democrática",429970,393482,138666,144150,56342,265978,761653,44780,68109,87702,45382,25467,32605,6741,45367
3,Angola,71083,84235,189891,69001,8861,9300,23124,17089,35390,61680,709,1065,0,0,4761
4,Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Tuvalu,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0
124,Uruguai,0,0,2929,4404,3879,13343,0,0,0,0,29617,18497,0,149842,997367
125,Vanuatu,0,0,0,0,0,0,0,0,0,0,0,0,31,0,0
126,Venezuela,0,0,0,0,7492,0,232,0,0,2646,355,0,9808,35944,32351
127,Vietnã,0,2143,9977,0,0,0,0,0,0,0,0,32,584,0,277

In [303]:
qtde_litros

,País,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,11,0
1,África do Sul,0,0,0,0,0,0,0,0,0,0,0,26,4,0,0
2,"Alemanha, República Democrática",265742,225086,27715,36070,8189,61699,213348,10680,14012,15467,10794,3660,6261,2698,7630
3,Angola,25721,54786,33557,13889,2833,1573,12182,1908,7359,10170,477,345,0,0,4068
4,Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Tuvalu,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
124,Uruguai,0,0,914,1238,1135,1526,0,0,0,0,7711,6180,0,136774,637117
125,Vanuatu,0,0,0,0,0,0,0,0,0,0,0,0,18,0,0
126,Venezuela,0,0,0,0,1029,0,14,0,0,680,71,0,4086,26415,23220
127,Vietnã,0,743,8820,0,0,0,0,0,0,0,0,20,86,0,130

In [321]:
id = qtde_litros['2008'].idxmax() # get index of the country that exported the most
highest_value = qtde_litros['2008'][id] # gets the highest value
country = qtde_litros['País'][id] #gets the corresponding country
year = '2008'

print(f'Year: {year}')
print(f'Index: {id}')
print(f'Highest value: {highest_value:,}')
print(f'Country: {country}')

Year: 2008
Index: 105
Highest value: 6,207,658
Country: Rússia

In [320]:
for col in qtde_litros.columns:
    
    if 'País' not in col:
        
        print(col)

2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022